*.obj filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
RadioGalaxyNET_Dataset/** filter=lfs diff=lfs merge=lfs -text
Alpha.5[[:space:]]Gamma2/*.pth filter=lfs diff=lfs merge=lfs -text
wandb/** filter=lfs diff=lfs merge=lfs -text
